<h4>Asunto: {{ asunto }}</h4>
<p>Mensaje:</p>
<p>{{ mensaje }}</p>
<footer class="text-center">
    <br>
    <address>
        <strong>Aparte &copy; 2017</strong>
        info@apartefotografia.es
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Tel. 677 551 784</p>
    </address>
</footer>
