{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid">
        {% if (error) %}
            <div class="text-center alert alert-danger">{{ error }}</div>
        {% endif %}
        {{ cita.getUser() }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}