{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Seleccionar Muestras</h1>
        <div class="jumbotron text-center alert alert-info">
            <p>No existen muestras para seleccionar, posiblemente aún no se hayan cargado!</p>
            <p>Ten un poco de paciencia, estamos trabajando en ello, hasta pronto...</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}